node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
dev.db
drizzle
.content-collections
.vscode
.turbo
apps/web/.astro
.agents/
.commandcode/
prompt.md
skills-lock.json
scripts/
.vercel
